@use '../../../styles/abstracts' as *;

.grid {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: var(--space-3);
  padding: 0;
  margin: 0;
  list-style: none;

  @include mq('sm') {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @include mq('md') {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: var(--space-4);
  }

  @include mq('lg') {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: var(--space-6);
  }
}
